<div class="wrapper-card">
    <div class="wrapper-title">
        XML Parser Manager
    </div>
    <br>
    <mat-card>
        <mat-button-toggle-group name="fontStyle" appearance="legacy" aria-label="Font Style" #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)">
            <mat-button-toggle value="query">Query XML</mat-button-toggle>
            <mat-button-toggle value="upload">Upload XML</mat-button-toggle>
        </mat-button-toggle-group>

        <app-query *ngIf="selectedVal === 'query'">
        </app-query>

        <app-upload *ngIf="selectedVal === 'upload' ">
        </app-upload>

    </mat-card>

</div>