<mat-card-content>

    <div class="content-upload">
        <div class="content-upload-title">
            Upload your file
        </div>
        <div class="content">
            <div class="upload-button-wrapper">
                <button mat-raised-button color="primary">Select File</button>
                <input type="file" id='avatar' (change)="readSingleFile($event)" #fileInput>
            </div>
            <button mat-raised-button color="primary" (click)="upload()">Upload</button>
        </div>

        <div class="content-upload-subtitle">
            {{responseRequest}}
        </div>

    </div>

</mat-card-content>