<mat-card-content>
    <div class="content-query">
        <div class="content-query-title">
            Your query
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <div class="content-query-title">
            Results
        </div>

        <mat-card class="card-result">
            <mat-card-content>
                <div class="result-item">
                    <img src="../../assets/mock.svg" alt="mock-image">
                    <span class="result-text">
                        XML name 1
                    </span>
                </div>
                <div class="result-item">
                    <img src="../../assets/mock.svg" alt="mock-image">
                    <span class="result-text">
                        XML name 2
                    </span>
                </div>
                <div class="result-item">
                    <img src="../../assets/mock.svg" alt="mock-image">
                    <span class="result-text">
                        XML name 3
                    </span>
                </div>
                <div class="result-item">
                    <img src="../../assets/mock.svg" alt="mock-image">
                    <span class="result-text">
                        XML name 4
                    </span>
                </div>

                <div class="result-item">
                    <img src="../../assets/mock.svg" alt="mock-image">
                    <span class="result-text">
                        XML name 4
                    </span>
                </div>

                <div class="result-item">
                    <img src="../../assets/mock.svg" alt="mock-image">
                    <span class="result-text">
                        XML name 4
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card-content>