/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    border-radius: 20px !important;
    background-color: #6202EE;
    color: #FFF;
}
=======
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button {
  border-radius: 20px !important;
  background-color: #6202EE;
  color: #FFF;
}
>>>>>>> master
